<div class='graph-body'>

  <div class='sun-group' 
    [@sun-appear]="IsOut? 'in':'out'">
        <div class='sun'></div>
        <div class='word sun-word'>Bamboo Shoot</div>
    </div>
    <div class='xuecai-group'
    [@xuecai-appear]="IsOut? 'in': 'out'">
        <div class='xuecai'></div>
        <div class='word xuecai-word'>Pickled Cabbage</div>
    </div>
    <div class='pork-group' 
    [@pork-appear]="IsOut? 'in':'out'">
        <div class='pork'></div>
        <div class='word pork-word'>Pork</div>
    </div>
    <div class='noodle-group'
    [@noodle-appear]="IsOut? 'in': 'out'">
        <div class='noodle'></div>
        <div class='word noodle-word'>Noodle</div>
    </div>
       <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>片儿川</div>
        <div class ='storylines'>Pian'er Chuan is one of the most famous noodles in the history of one old restaurant called Kui'yuan Guan in Hangzhou. In Qing Dynasty, there were many scholars from all over the province to came to Hangzhou to take the Imperial exam. The owner of the store always treat the scholars with the noodles with green onions, bamboo shoots and pork slices. 
        <br>One day, a young scholar came and only ordered the simpliest noodle. The shopkeeper saw he is kind-hearted and diligent, but come from a poor family, so he made a bowl of Pian'er Chuan, and added three eggs. He wished him to succeed in all three rounds of imperial exams. 
        <br>Later, the scholar outstands the other scholars and became successful. He specially thanked the owner in the noodle bar. Because the small noodle bar had no signboard then, he wrote the word "Kuiyuan Guan". Since then, the Kuiyuan Guan has gained a great reputation in Hangzhou.
    </div>
      </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need:
        <ul>
        <li> Noodles </li><br>
        <li> Pickled Cabbage  </li><br>
        <li> Winter Bamboo Shoot </li><br>
        </ul>
    </div> 
    </div>

    <div class='food-body' (click)='toggle_ingredient_noodle()'>
            <div class='plate plate6'>
                    <div class='plate-circle'>
                            <div class='soup-noodle'>
                                    <div class='circle-group9'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class='circle-group7'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class='circle-group1'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class='circle-group2'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                <div class='circle-group3'>
                                <div class='circle1'>
                                    <div class='circle2'>
                                        <div class='circle3'>
                                            <div class='circle4'>
                                                <div class=circle5></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div class='circle-group4'>
                                        <div class='circle1'>
                                            <div class='circle2'>
                                                <div class='circle3'>
                                                    <div class='circle4'>
                                                        <div class=circle5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                

                                <div class='circle-group5'>
                                        <div class='circle1'>
                                            <div class='circle2'>
                                                <div class='circle3'>
                                                    <div class='circle4'>
                                                        <div class=circle5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <div class='circle-group6'>
                                        <div class='circle1'>
                                            <div class='circle2'>
                                                <div class='circle3'>
                                                    <div class='circle4'>
                                                        <div class=circle5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class='circle-group8'>
                                        <div class='circle1'>
                                            <div class='circle2'>
                                                <div class='circle3'>
                                                    <div class='circle4'>
                                                        <div class=circle5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class='sun1'></div>
                                
                                <div class='circle-group10'>
                                        <div class='circle1'>
                                            <div class='circle2'>
                                                <div class='circle3'>
                                                    <div class='circle4'>
                                                        <div class=circle5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <div class='circle-group11'>
                                        <div class='circle1'>
                                            <div class='circle2'>
                                                <div class='circle3'>
                                                    <div class='circle4'>
                                                        <div class=circle5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <div class='sun1'></div>
                                <div class='sun2'></div>
                                <div class='sun3'></div>
                                <div class='sun4'></div>
                                <div class='sun5'></div>

                                <div class='meat1'></div>
                                <div class='meat2'></div>
                                <div class='meat3'></div>
                                <div class='meat4'></div>

                                <div class='green-onion1'></div>
                                <div class='green-onion2'></div>
                                <div class='green-onion3'></div>

                            </div>
                        </div>
                </div>
    
    </div>
</div>