
* {
    position: absolute;
}

.food-body{
    transform: scale(1.5);
    top: 280px;
    left: 550px;
}

.plate{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 0px #3f372f;
    overflow: hidden;
}
.plate:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.plate-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px #c0c0c0 solid;
    top: 5px;
    left: 5px;

}

.baozi-circle-big{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #ebb251;
    background-color: #fceba8;
    top: 33px;
    left: 33px;
    box-shadow: inset -3px -3px 1px #eedfa4
}

.baozi-circle-small {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 2px solid #ebb251;
    top: 45.5px;
    left: 45.5px;
}
.line1{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 5.5px;
    left: 14px;
}
.line2{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 7.5px;
    left: 19.5px;
    transform: rotate(45deg);
}
.line3{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 12.5px;
    left: 22px;
    transform: rotate(90deg);
}
.line4{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 18.5px;
    left: 19.5px;
    transform: rotate(135deg);
}
.line5{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 21px;
    left: 14px;
    transform: rotate(0);
}
.line6{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 19px;
    left: 8.5px;
    transform: rotate(45deg);
}
.line7{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 12.5px;
    left: 6px;
    transform: rotate(90deg);
}
.line8{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 7px;
    left: 8.5px;
    transform: rotate(135deg);
}
.baozi-group-1{
    top: 0px;
    left: 0px;
}
.baozi-group-2 {
    top:17px;
    left:17px;
}
.baozi-group-3{
    top:17px;
    left:-17px;
}
.baozi-group-4{
    top:-17px;
    left:17px;
}
.baozi-group-5{
    top:-17px;
    left:-17px;
}

.flour{
    height: 180px;
    width: 180px;
    background-image: url('flour.png');
    background-size: 90%;
    background-repeat: no-repeat;
    top: 290px;
    left: 540px;
}

.pork{
    height: 180px;
    width: 180px;
    background-image: url('pork.png');
    background-size: 85%;
    background-repeat: no-repeat;
    top: 320px;
    left: 555px;
}
.word{
    height: 20px;
    width: 80px;
    background-color: white;
    border: 3px solid #EEB965;
    border-radius: 20%;
    text-align: center;
    font-family: 'Arial Rounded MT Bold';
}
.flour-word{
    top: 420px;
    left: 600px;
}
.pork-word{
    top: 300px;
    left: 590px;
}


.story-header{
    margin: 30px;
    top:60px;
    left:30px;
    height: 60px;
    width:270px;
    border-radius: 20%;
    text-align: center;
    font-family: STKaiti;
    font-size: 50px;
    color:#52252A;
}

.storylines{
    top:170px;
    left:60px;
    height: 200px;
    width: 270px;
    border-radius: 20%;
    text-align: left;
    // font-family: Gill Sans;
    font-family: Optima;
    font-size: 18px;
    color:#52252A;
}

.ingredient-header{
    margin: 30px;
    top:60px;
    left: 900px;
    height: 60px;
    width: 300px;
    border-radius: 10%;
    text-align: center;
    font-family: Optima;
    font-size: 50px;
    color:#52252A;
}

.ingredients{
    margin: 30px;
    top:170px;
    left: 950px;
    height: 200px;
    width: 500px;
    font-family: Optima;
    border-radius: 20%;
    text-align: left;
    font-size: 18px;
    color:#52252A;
}
ul
{list-style-type:circle;
width:500px;}

ul li{ 
    // float:left;
    width:500px;
    height:40px;
    line-height:40px; 
    // text-align:left; 
    // overflow:hidden
} 