<div class='graph-body'>
    <!-- <button (click)='toggle_flour()'>change</button> -->
    <div class='flour-group' 
    [@flour-appear]="IsOut? 'in':'out'">
        <div class='flour'></div>
        <div class='word flour-word'>Flour</div>
    </div>
    <div class='pork-group'
    [@pork-appear]="IsOut? 'in': 'out'">
        <div class='pork'></div>
        <div class='word pork-word'>Pork</div>
    </div>
       <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>小笼包</div>
        <div class ='storylines'>Xiaolongbao is a type of Chinese steamed bun (baozi) from the Jiangnan region. It is traditionally prepared in Xiaolong, which is a kind of small bamboo steaming basket, which give them their name. 
        <br>Xiaolongbao is often referred to as a kind of "dumpling", but should not be confused with British or American-style dumplings, nor with Chinese jiaozi. They are also called a "soup dumpling" because they are filled with hot soup and must be eaten carefully.
        <br>Xiaolongbao is traditionally filled with pork. One popular and common variant is pork with minced crab meat and roe. More modern innovations include other meats, seafood, shrimp, crab meat, and vegetarian fillings.
    </div>
    </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need:
        <ul>
        <li> 500g Flour </li><br>
        <li> 300g Pork </li><br>
        <li> 150g Chieves </li><br>
        <li> 5g Ginger</li><br>
        <li> 5g Sugar </li><br>
        <li> 2g Yeast </li><br>
        <li> 2 tablespoons Soy Sauce</li><br>
        <li> 90g Carrots</li><br>
        </ul>
    </div> 
    </div>
    <div class='food-body' (click)='toggle_flour_pork()'>
        <div class='plate'>
            <div class='plate-circle'>
                <div class=food-on-plate1>
                    <div class='baozi-group-5'> 
                        <div class='baozi-circle-big'>
                                <div class='line1'></div>
                                <div class='line2'></div>
                                <div class='line3'></div>
                                <div class='line4'></div>
                                <div class='line5'></div>
                                <div class='line6'></div>
                                <div class='line7'></div>
                                <div class='line8'></div>
                        </div>
                                <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-4'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-3'> 
                                    <div class='baozi-circle-big'>
                                        <div class='line1'></div>
                                        <div class='line2'></div>
                                        <div class='line3'></div>
                                        <div class='line4'></div>
                                        <div class='line5'></div>
                                        <div class='line6'></div>
                                        <div class='line7'></div>
                                        <div class='line8'></div>
                                    </div>
                                <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-2'> 
                                <div class='baozi-circle-big'>
                                    <div class='line1'></div>
                                    <div class='line2'></div>
                                    <div class='line3'></div>
                                    <div class='line4'></div>
                                    <div class='line5'></div>
                                    <div class='line6'></div>
                                    <div class='line7'></div>
                                    <div class='line8'></div>
                                </div>
                                <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-1'> 
                                <div class='baozi-circle-big'>
                                <div class='line1'></div>
                                <div class='line2'></div>
                                <div class='line3'></div>
                                <div class='line4'></div>
                                <div class='line5'></div>
                                <div class='line6'></div>
                                <div class='line7'></div>
                                <div class='line8'></div>
                            </div>
                         <div class='baozi-circle-small'></div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>