*{
    position: absolute;
}
.background{
    background-color: #FFE5CC;
    height: 1000px;
    width: 1000px;
}
.hangzhou{
    left: 275px;
    height: 700px;
    width: 1300px;
    background-image: url('hangzhou-scene1.png');
    background-size: 60%;
    background-repeat: no-repeat;
}
// .title{
//     height: 100px;
//     width: 400px;
//     background-image: url('hangzhoumeishi.png');
//     background-size: 100%;
//     top: 100px;
//     left: 350px;
// }
