<div class='graph-body'>
    <div class='food-body'>
            <div class='plate plate8'>
                    <div class='plate-circle'>
                            <div class='soup-dongporou'>
                                    <div class='leaf2'></div>
                                    <div class='leaf1'></div>
                                    <div class='leaf3'></div>
                                    <div class='leaf4'></div>
                                    <div class='leaf5'></div>
                                    <div class='dongporou'></div>
                            </div>
                    </div>
            </div>
    </div>
</div>
