<div class='graph-body'>
  <div class='wuhuarou-group' 
    [@wuhuarou-appear]="IsOut? 'in':'out'">
        <div class='wuhuarou'></div>
        <div class='word wuhuarou-word'>Pork</div>
    </div>
    <div class='soy-sauce-group'
    [@soy-sauce-appear]="IsOut? 'in': 'out'">
        <div class='soy-sauce'></div>
        <div class='word soy-sauce-word'>Soy sauce</div>
    </div>
        <div class='story8'
     [@story8-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>Dongpo Pork</div>
        <div class ='storylines'>The dish is named after revered Song Dynasty poet,artist and calligrapher Su Dongpo,who is supposed to have invented,or at least inspired it.The meat should be so tender that you can quite easily pry it away in small pieces with chopsticks.As it is made from a slab of pork belly,there is a lot of fat,but the lengthy cooking time (3-1/2 hours) results in fat sans much of its greasiness.Eat as little of the fat as you choose.The accompanying ginger and plainly cooked broccoli also help offset the fat.You will need at least four hours to make dongpo pork during which time it is simmered twice,braised,sauted and steamed.</div>
    
    </div>
     <div class='ingredient8'
     [@ingredient8-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        <p>The ingredients include: </p>
        <ul>
        <li>Meat</li>
        <li>Soy-sause</li>
        </ul>
    </div> 
    </div>

    <div class='food-body' (click)='toggle_wuhuarou_soysauce()'>
            <div class='plate plate8'>
                    <div class='plate-circle'>
                            <div class='soup-dongporou'>
                                    <div class='leaf2'></div>
                                    <div class='leaf1'></div>
                                    <div class='leaf3'></div>
                                    <div class='leaf4'></div>
                                    <div class='leaf5'></div>
                                    <div class='dongporou'></div>
                            </div>
                    </div>
            </div>
    </div>
</div>
