* {
    position: absolute;
}

.food-body{
    transform: scale(1.5);
    top: 280px;
    left: 550px;
}

.plate{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 0px #3f372f;
    overflow: hidden;
}
.plate:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.plate-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px #c0c0c0 solid;
    top: 5px;
    left: 5px;
}
.soup-dongporou{
    height: 95px;
    width: 95px;
    background-color: #803c34;
    opacity:1;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
}
.dongporou{
    top: -12px;
    left: -12px;
    height: 100px;
    width: 100px;
    background-image: url('dongporou.png');
    background-size: 120%
}
.leaf1{
    height: 40px;
    width: 35px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(-80deg);
    left: 5px;
    top: 10px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf2{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(0deg);
    left: 20px;
    top: 0px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf3{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(-30deg);
    left: 10px;
    top: 3px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf4{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(-30deg);
    left: 60px;
    top: 50px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf5{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(90deg);
    left: 60px;
    top: 50px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}


.soy-sauce{
    height: 180px;
    width: 180px;
    background-image: url('soy-sauce.png');
    background-size: 90%;
    background-repeat: no-repeat;
    top: 290px;
    left: 540px;
}

.wuhuarou{
    height: 180px;
    width: 180px;
    background-image: url('wuhuarou.png');
    background-size: 85%;
    background-repeat: no-repeat;
    top: 315px;
    left: 555px;
}

.word{
    height: 20px;
    width: 80px;
    background-color: white;
    border: 3px solid #D25B44;
    border-radius: 20%;
    text-align: center;
    font-family: 'Arial Rounded MT Bold';
}
.wuhuarou-word{
    top: 300px;
    left: 625px;
    width: 70px;
}
.soy-sauce-word{
    top: 300px;
    left: 590px;
    width: 100px;
}

.story{
    margin: 30px;
    top:0px;
    left: 40%;
    height: 60px;
    width: 400px;
    border-radius: 40%;
    text-align: center;
    font:  1.2em "Palatino", serif;
    font-size: 50px;
    background-color: #ffffff;
    border: 10px solid #3f372f;
    font-variant: small-caps;

}

.storylines{
    top:120px;
    left: 30px;
    height: 200px;
    width: 270px;
    border-radius: 20%;
    text-align: left;
    font:  1.2em "Palatino", serif;
    font-size: 20px;
    color:#803c34;
}