<div class='graph-body'>
    <div class='fish-group'
    [@fish-appear]="IsOut?'in':'out'">
        <div class='uncooked-fish'></div>
        <div class='word fish-word'>fish</div>
    </div>
    <div class='vinegar-group'
    [@vinegar-appear]="IsOut?'in':'out'">
        <div class='vinegar'></div>
        <div class='word vinegar-word'>vinegar</div>
    </div>
       <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>西湖醋鱼</div>
        <div class ='storylines'>West Lake Fish in Vinegar Gravy , also known as Song Sao Fish, is a traditional local specialty dish of Hangzhou in Zhejiang province. It first originated in Southern Song Dynasty. 
        <br>The material of West Lake Fish in Vinegar Gravy usually is the grass carp. After cooking, the chef will pour the smooth sugar and vinegar on the fish, which will cause the pectoral fin to stand up. In this way, the fish is tender and sweet with special crab flavor.
    </div>
    </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need:
        <ul>
        <li> 900g Grass Carp </li><br>
        <li> 50g Vinegar </li><br>
        <li> 25g Chinese Rice Wine </li><br>
        <li> 75g Soy Sauce</li><br>
        <li> 60g Sugar </li><br>
        <li> 1 Ginger </li><br>
        <li> Some chieves</li><br>
        </ul>
    </div> 
    </div>
    <div class='food-body' (click)='toggle_fish_vinegar()'>
        <div class='plate plate2'>
            <div class='plate-circle'>
                <div class='food-on-plate2'>
                    <div class='soup-fish'></div>
                    <div class='fish'></div>
                </div>
            </div>
        </div>
    </div>
</div>