<div class='graph-body'>
    <div class='fish-group'
    [@fish-appear]="IsOut?'in':'out'">
        <div class='uncooked-fish'></div>
        <div class='word fish-word'>fish</div>
    </div>
    <div class='vinegar-group'
    [@vinegar-appear]="IsOut?'in':'out'">
        <div class='vinegar'></div>
        <div class='word vinegar-word'>vinegar</div>
    </div>
       <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>Dongpo Pork</div>
        <div class ='storylines'>It is said that Su Dongpo came to Aicheng at the time of collecting wind and saved a child from heatstroke. The parents bought two kilograms of pork and returned with straw to inquire about his taste.
        <br>It happened that Su Dongpo was writing poems and saying, "Hehe, grass, pearls, heartfelt fragrance..."
        <br>After listening, the farmer thought he was telling him to put the meat and straw aside and cook them thoroughly.
        <br>At the time of the meal, Dongpo was surprised to see that the meat was a whole piece and not cut. He thought that he liked cooking like this, so he made a dish mixed with straw aroma, unexpectedly, by mistake. Later generations called this dish "Dongpo meat".</div>
    
    </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need
        <ul>
        <li> 500g Pork Belly </li><br>
        <li> 4 stalks Green Onion </li><br>
        <li> 50g fresh, young ginger </li><br>
        <li> 2 tablespoons Yellow Rice Wine</li><br>
        <li> 8 cloves garlic </li><br>
        <li> 1 cup water </li><br>
        <li> 4 tablespoons Light Soy Sauce</li><br>
        <li> 1 tablespoon tea leaves</li><br>
        <li> 1 tablespoons sugar </li><br>
        </ul>
    </div> 
    </div>
    <div class='food-body' (click)='toggle_fish_vinegar()'>
        <div class='plate plate2'>
            <div class='plate-circle'>
                <div class='food-on-plate2'>
                    <div class='soup-fish'></div>
                    <div class='fish'></div>
                </div>
            </div>
        </div>
    </div>
</div>