<div class='graph-body'>
        <div class='flower-group' 
        [@flower-appear]="IsOut? 'in':'out'">
            <div class='gredient-flower'></div>
            <div class='word flower-word'>Sweet Osthumas</div>
        </div>
        <div class='lotus-group'
        [@lotus-appear]="IsOut? 'in': 'out'">
            <div class='lotus'></div>
            <div class='word lotus-word'>Lotus Root</div>
        </div>
         <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>桂花糖藕</div>
        <div class ='storylines'>Sweet osmanthus sugar lotus root is a Jiangnan region traditional snack, and autumn is the best season to eat lotus root, and the sweet osmanthus at this time full branches.
        <br>Lotus root is slightly sweet and crisp. It can be eaten raw or cooked. Moreover, it has high medicinal value. Lotus root originated from India and later introduced into China. It is now cultivated in shandong, henan, hebei and other places in China.
    </div>
    </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need
        <ul>
        <li> 80g Glutinous Rice </li><br>
        <li> 2 sections of Lotus Roots </li><br>
        <li> 60g Rock Sugar </li><br>
        <li> 50g Brown Sugar</li><br>
        <li> A handful of Sweet Osmanthus </li><br>
        </ul>
    </div> 
    </div>

    <div class='food-body' (click)='toggle_lotus_flower()'>
            <div class='plate plate7'>
                    <div class='plate-circle'>
                        <div class='food-on-plate7'>
                            <div class='guihuaou-group1'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                            </div>
                        </div>
                           <div class='guihuaou-group2'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                
                            </div>
                        </div>
                           <div class='guihuaou-group3'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                            </div>
                        </div>
                           <div class='guihuaou-group4'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                
                                </div>
                        </div>
                           <div class='guihuaou-group5'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                </div>
                        </div>
                
                           <div class='guihuaou-group6'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                </div>
                        </div>
                        <div class='flower'>
                                    </div>
                    </div>
                </div>
            </div>

    </div>
</div>