<div class='graph-body'>
    <div class='food-body'>
            <div class='plate plate7'
            [routerLink]="(!clickin)? '/empty': '/food7'"
            (click)='toggle_blur()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate7'>
                            <div class='guihuaou-group1'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                            </div>
                        </div>
                           <div class='guihuaou-group2'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                
                            </div>
                        </div>
                           <div class='guihuaou-group3'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                            </div>
                        </div>
                           <div class='guihuaou-group4'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                
                                </div>
                        </div>
                           <div class='guihuaou-group5'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                </div>
                        </div>
                
                           <div class='guihuaou-group6'>
                                <div class='lotusroot'>
                                <div class='rice1'></div>
                                 <div class='rice2'></div>
                                  <div class='rice3'></div>
                                   <div class='rice4'></div>
                                </div>
                        </div>
                        <div class='flower'>
                                    </div>
                    </div>
                </div>
            </div>

    </div>
</div>