<div class='graph-body'>
    <!-- <button (click)='toggle_youtiao()'>change</button> -->
    <div class='youtiao-group' 
    [@youtiao-appear]="IsOut? 'in':'out'">
        <div class='youtiao-tag'></div>
        <div class='word youtiao-word'>Youtiao</div>
    </div>
    <div class='green-onion-group'
    [@green-onion-appear]="IsOut? 'in': 'out'">
        <div class='green-onion-tag'></div>
        <div class='word green-onion-word'>Green Onion</div>
    </div>
       <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>葱包烩</div>
        <div class ='storylines'>Green Onion Stuffed Pancake is a famous folk snacks and breakfast food in Hangzhou, zhejiang province. The way to make it is to wrap youtiao and scallions in the pancake, press and bake or fry them in an iron pot until the spring cake is crispy and yellow, and then add sweet bean paste and hot sauce.
        <br>The food is related to the southern song dynasty treacherous minister Qin Hui, for he killed Yue Fei in Hangzhou storm pavilion. The people and patriotic soldiers are extremely sad and angry at Qin Hui. A pastry chef in hangzhou made two dough figures representing qin hui and his wife, twisted them together and put them into a pan of oil to roast them. This method was soon copied everywhere.
    </div>
    </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need
        <ul>
        <li> 4 Spring Roll Wraps </li><br>
        <li> 2 Youtiao </li><br>
        <li> 2 Green Onions </li><br>
        </ul>
    </div> 
    </div>
    <div class='food-body' (click)='toggle_youtiao_greenonion()'>
            <div class='plate plate5'>
                    <div class='plate-circle'>
                        <div class='food-on-plate5'>
                            <div class='congbaohui-group1'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group2'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group3'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class='congbaohui-group4'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
    </div>
</div>

                            
                                