* {
    position: absolute;
}

.food-body{
    transform: scale(1.5);
    top: 280px;
    left: 550px;
}

.plate{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 0px #331900;
    overflow: hidden;
}
.plate:hover{
    transform: scale(1.05);
}
.plate-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px #c0c0c0 solid;
    top: 5px;
    left: 5px;

}
.outer-wrapper{
    height: 180px;
    width: 100px;
    background: url("meat.png");
    background-size: 120%;
    top:-45px;
    left:-6px;
    transform: rotate(45deg)
}