<div class='graph-body'>
    <div class='food-body'>
            <div class='plate plate5'>
                    <div class='plate-circle'>
                        <div class='food-on-plate5'>
                            <div class='congbaohui-group1'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group2'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group3'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class='congbaohui-group4'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
    </div>
</div>

                            
                                