<html>
    <head>
        <title>desk of food</title>
    </head>
    <body>
    <div class='background' [@blur-background]="(plate_number==0)? 'notblur': 'blur'">
        <div class='desk-body'
        [@RollOut]="order? 'roll-out': 'roll-in'">
        <!-- [@desk-rotation]="rotating? 'initial' : 'final'"
        (click)='toggle_rotate()'> -->
   
        <div class='desk'>
                     <div class='plate-group'>
                <div class='plate plate1'
                [@on-click-big]="(plate_number==1)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food1'"
                (click)='toggle_plate1()'>
                    <div class='plate-circle'>
                        <div class=food-on-plate1>
                            <div class='baozi-group-5'> 
                                <div class='baozi-circle-big'>
                                        <div class='line1'></div>
                                        <div class='line2'></div>
                                        <div class='line3'></div>
                                        <div class='line4'></div>
                                        <div class='line5'></div>
                                        <div class='line6'></div>
                                        <div class='line7'></div>
                                        <div class='line8'></div>
                                </div>
                                <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-4'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-3'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-2'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-1'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='plate plate2'
                [@on-click-big]="(plate_number==2)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food2'"
                (click)='toggle_plate2()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate2'>
                            <div class='soup-fish'></div>
                            <div class='fish'></div>
                        </div>
                    </div>
                </div>


                <div class='plate plate3'
                [@on-click-big]="(plate_number==3)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food3'"
                (click)='toggle_plate3()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate3'>
                            <div class='shrimp-soup'></div>
                            <div class='shrimp-group9'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group8'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group7'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group6'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group5'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group4'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group3'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group2'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group1'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='tea'></div>
                        </div>
                    </div>
                </div>




                <div class='plate plate4'
                [@on-click-big]="(plate_number==4)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food4'"
                (click)='toggle_plate4()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate4'>
                            <div class='qingtuan-group5'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group4'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group3'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group2'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group1'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='plate plate5'
                [@on-click-big]="(plate_number==5)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food5'"
                (click)='toggle_plate5()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate5'>
                            <div class='congbaohui-group1'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group2'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group3'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class='congbaohui-group4'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            

                <div class='plate plate6'
                [@on-click-big]="(plate_number==6)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food6'"
                (click)='toggle_plate6()'>
                        <div class='plate-circle'>
                                <div class='soup-noodle'>
                                        <div class='circle-group9'>
                                                <div class='circle1'>
                                                    <div class='circle2'>
                                                        <div class='circle3'>
                                                            <div class='circle4'>
                                                                <div class=circle5></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
    
                                        <div class='circle-group7'>
                                                <div class='circle1'>
                                                    <div class='circle2'>
                                                        <div class='circle3'>
                                                            <div class='circle4'>
                                                                <div class=circle5></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
    
                                        <div class='circle-group1'>
                                                <div class='circle1'>
                                                    <div class='circle2'>
                                                        <div class='circle3'>
                                                            <div class='circle4'>
                                                                <div class=circle5></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
    
                                        <div class='circle-group2'>
                                                <div class='circle1'>
                                                    <div class='circle2'>
                                                        <div class='circle3'>
                                                            <div class='circle4'>
                                                                <div class=circle5></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
    
                                    <div class='circle-group3'>
                                    <div class='circle1'>
                                        <div class='circle2'>
                                            <div class='circle3'>
                                                <div class='circle4'>
                                                    <div class=circle5></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
    
                                    <div class='circle-group4'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    
    
                                    <div class='circle-group5'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
    
                                    <div class='circle-group6'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class='circle-group8'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class='sun1'></div>
                                    
                                    <div class='circle-group10'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
    
                                    <div class='circle-group11'>
                                            <div class='circle1'>
                                                <div class='circle2'>
                                                    <div class='circle3'>
                                                        <div class='circle4'>
                                                            <div class=circle5></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
    
                                    <div class='sun1'></div>
                                    <div class='sun2'></div>
                                    <div class='sun3'></div>
                                    <div class='sun4'></div>
                                    <div class='sun5'></div>
    
                                    <div class='meat1'></div>
                                    <div class='meat2'></div>
                                    <div class='meat3'></div>
                                    <div class='meat4'></div>
    
                                    <div class='green-onion1'></div>
                                    <div class='green-onion2'></div>
                                    <div class='green-onion3'></div>
    
                                </div>
                            </div>
                    </div>
        

                <div class='plate plate7'
                [@on-click-big]="(plate_number==7)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food7'"
                (click)='toggle_plate7()'>
                        <div class='plate-circle'>
                            <div class='food-on-plate7'>
                                <div class='guihuaou-group1'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                </div>
                            </div>
                               <div class='guihuaou-group2'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    
                                </div>
                            </div>
                               <div class='guihuaou-group3'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                </div>
                            </div>
                               <div class='guihuaou-group4'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    
                                    </div>
                            </div>
                               <div class='guihuaou-group5'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    </div>
                            </div>
                    
                               <div class='guihuaou-group6'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    </div>
                            </div>
                            <div class='flower'>
                                        </div>
                        </div>
                    </div>
                </div>


                <div class='plate plate8'
                [@on-click-big]="(plate_number==8)? 'on-click': off-click"
                [routerLink]="(!plate_number==0)? '/empty': '/food8'"
                (click)='toggle_plate8()'>
                        <div class='plate-circle'>
                                <div class='soup-dongporou'>
                                        <div class='leaf2'></div>
                                        <div class='leaf1'></div>
                                        <div class='leaf3'></div>
                                        <div class='leaf4'></div>
                                        <div class='leaf5'></div>
                                        <div class='dongporou'></div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
   <div>
        <router-outlet ></router-outlet>
   </div>
   <div class='front-page'
    [@InOut]="order? 'flyin':'flyout'">
        <div class='background-front-page'></div>
        <div class='circle-front-page'></div>
        <div class='hangzhou'></div>
        <div class='button'
    (click)="toggle_order() "></div>
    </div>
    
    </body>
</html>

