<html>
    <head>
        <title>desk of food</title>
    </head>
    <body>
    <div class='background' [@blur-background]="clickin? 'notblur': 'blur'">
        <div class='desk-body'>
        <!-- [@desk-rotation]="rotating? 'initial' : 'final'"
        (click)='toggle_rotate()'> -->
        <div class='desk'>
            
            <div class='plate-group'>
                <div class='plate plate1'
                [routerLink]="(!clickin)? '/empty': '/food1'"
                (click)='toggle_blur()'>
                    <div class='plate-circle'>
                        <div class=food-on-plate1>
                            <div class='baozi-group-5'> 
                                <div class='baozi-circle-big'>
                                        <div class='line1'></div>
                                        <div class='line2'></div>
                                        <div class='line3'></div>
                                        <div class='line4'></div>
                                        <div class='line5'></div>
                                        <div class='line6'></div>
                                        <div class='line7'></div>
                                        <div class='line8'></div>
                                </div>
                                <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-4'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-3'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-2'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                            <div class='baozi-group-1'> 
                                    <div class='baozi-circle-big'>
                                            <div class='line1'></div>
                                            <div class='line2'></div>
                                            <div class='line3'></div>
                                            <div class='line4'></div>
                                            <div class='line5'></div>
                                            <div class='line6'></div>
                                            <div class='line7'></div>
                                            <div class='line8'></div>
                                    </div>
                                    <div class='baozi-circle-small'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='plate plate2'
                [routerLink]="(!clickin)? '/empty': '/food2'"
                (click)='toggle_blur()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate2'>
                            <div class='soup-fish'></div>
                            <div class='fish'></div>
                        </div>
                    </div>
                </div>


                <div class='plate plate3'
                [routerLink]="(!clickin)? '/empty': '/food3'"
                (click)='toggle_blur()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate3'>
                            <div class='shrimp-soup'></div>
                            <div class='shrimp-group9'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group8'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group7'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group6'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group5'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group4'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group3'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='shrimp-group2'>
                                <div class='shrimp2'></div>
                            </div>
                            <div class='shrimp-group1'>
                                <div class='shrimp1'></div>
                            </div>
                            <div class='tea'></div>
                        </div>
                    </div>
                </div>




                <div class='plate plate4'
                [routerLink]="(!clickin)? '/empty': '/food4'"
                (click)='toggle_blur()'>
                    <div class='plate-circle'>
                        <div class='food-on-plate4'>
                            <div class='qingtuan-group5'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group4'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group3'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group2'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                            <div class='qingtuan-group1'>
                                <div class='qingtuan-base'>
                                    <div class='qingtuan-light'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='plate plate5'>
                    <div class='plate-circle'>
                        <div class='food-on-plate5'>
                            <div class='congbaohui-group1'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group2'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='congbaohui-group3'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class='congbaohui-group4'>
                                    <div class='outerwrapper'>
                                    <div class='youtiao'>
                                        <div class='greenonion'>
                                        <div class='whiteonion'>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            

                <div class='plate plate6'>
                        <div class='plate-circle'>    
                        </div>
                </div>

                <div class='plate plate7'>
                        <div class='plate-circle'>
                            <div class='food-on-plate7'>
                                <div class='guihuaou-group1'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                </div>
                            </div>
                               <div class='guihuaou-group2'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    
                                </div>
                            </div>
                               <div class='guihuaou-group3'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                </div>
                            </div>
                               <div class='guihuaou-group4'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    
                                    </div>
                            </div>
                               <div class='guihuaou-group5'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    </div>
                            </div>
                    
                               <div class='guihuaou-group6'>
                                    <div class='lotusroot'>
                                    <div class='rice1'></div>
                                     <div class='rice2'></div>
                                      <div class='rice3'></div>
                                       <div class='rice4'></div>
                                    </div>
                            </div>
                            <div class='flower'>
                                        </div>
                        </div>
                    </div>
                </div>


                <div class='plate plate8'>
                        <div class='plate-circle'></div>
                </div>
            </div>
        </div>
    </div>
</div>
   <div>

    <!-- (click)='toggle_blur()'> -->
     <router-outlet ></router-outlet>
   </div>

    </body>
</html>

