
html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
body {
    background: #FFE5CC;
}
* {
    position: absolute;
}

.background {
    height: 100%;
    width: 100%;
}
.desk-body{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    animation: desk-rotate  20s linear infinite;
}

@keyframes desk-rotate{
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.desk{
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-color: #630;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: inset -5px -5px 0px #331900;
  }


.plate{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 0px #331900;
    overflow: hidden;
}
.plate:hover{
    transform: scale(1.05);
}
.plate1{
    top: 460px;
    left: 240px;
}
.plate2{
    top: 390px;
    left: 390px;
}
.plate3{
    top: 240px;
    left: 460px;
}
.plate4{
    top: 90px;
    left: 390px;
}
.plate5{
    top:20px;
    left: 240px;
}
.plate6{
    top: 90px;
    left: 80px;
}
.plate7{
    top: 240px;
    left: 20px;
}
.plate8{
    top: 390px;
    left: 80px;
}
.plate-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px #c0c0c0 solid;
    top: 5px;
    left: 5px;

}
.baozi-group-1{
    top: 0px;
    left: 0px;
}
.baozi-group-2 {
    top:17px;
    left:17px;
}
.baozi-group-3{
    top:17px;
    left:-17px;
}
.baozi-group-4{
    top:-17px;
    left:17px;
}
.baozi-group-5{
    top:-17px;
    left:-17px;
}

.baozi-circle-big{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #ebb251;
    background-color: #fceba8;
    top: 33px;
    left: 33px;
    box-shadow: inset -3px -3px 1px #eedfa4
}

.baozi-circle-small {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 2px solid #ebb251;
    top: 45.5px;
    left: 45.5px;
}
.line1{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 5.5px;
    left: 14px;
}
.line2{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 7.5px;
    left: 19.5px;
    transform: rotate(45deg);
}
.line3{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 12.5px;
    left: 22px;
    transform: rotate(90deg);
}
.line4{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 18.5px;
    left: 19.5px;
    transform: rotate(135deg);
}
.line5{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 21px;
    left: 14px;
    transform: rotate(0);
}
.line6{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 19px;
    left: 8.5px;
    transform: rotate(45deg);
}
.line7{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 12.5px;
    left: 6px;
    transform: rotate(90deg);
}
.line8{
    height: 4px;
    width: 2px;
    background-color: #ebb251;
    top: 7px;
    left: 8.5px;
    transform: rotate(135deg);
}
.fish{
    height: 180px;
    width: 100px;
    background: url("fish.png");
    background-size: 120%;
    top:-45px;
    left:-6px;
    transform: rotate(45deg)
}
.soup-fish{
    height:100px;
    width: 80px;
    background-color:#630;
    opacity: 0.6;
    border-radius: 70% 40% 70% 30%;
    transform: rotate(20deg);
    left: 10px;
    
}

.qingtuan-group1{
    top: 0;
    left: 0;
}
.qingtuan-group2{
    top: 19px;
    left: 19px;
}
.qingtuan-group3{
    top: 19px;
    left: -19px;
}
.qingtuan-group4{
    top: -19px;
    left: 19px;
}
.qingtuan-group5{
    top: -19px;
    left: -19px;
}

.qingtuan-base{
    height: 35px;
    width: 35px;
    border: 2px solid #030;
    border-radius: 50%;
    background-color: #060;
    top: 31px;
    left: 31px;
    box-shadow: inset -3px -3px 1px #0d500d;
}
.qingtuan-light{
    height: 10px;
    width: 5px;
    border-radius: 50%;
    transform: rotate(35deg);
    background-color: #cf9;
    top: 5px;
    left: 5px;
    filter: blur(1px);
}


.shrimp1{
    height: 50px;
    width: 50px;
    background-image: url('shrimp-group.png');
    background-size: 108%;
    top: 25px;
    left: 25px;
}
.shrimp2{
    height: 50px;
    width: 50px;
    background-image: url('shrimp-group.png');
    background-size: 108%;
    top: 25px;
    left: 25px;
    transform: rotate(170deg);
}
.shrimp-group1{
    top: -20px;
    left: 20px;
}
.shrimp-group2{
    top: 20px;
    left: 20px;
}
.shrimp-group3{
    top: 20px;
    left: -20px;
}
.shrimp-group4{
    top: -20px;
    left: -20px;
}
.shrimp-group5{
    top: 0px;
    left: 0px;
}
.shrimp-group6{
    top: 0px;
    left: -25px;
}
.shrimp-group7{
    top: 25px;
    left: 0px;
}
.shrimp-group8{
    top: -25px;
    left: 0px;
}
.shrimp-group9{
    top: 0px;
    left: 25px;
}
.tea{
    height: 100px;
    width: 100px;
    background-image: url('tea.png');
    background-size: 120%;
}
.shrimp-soup{
    height: 95px;
    width: 95px;
    background-color: #994c00;
    opacity: 0.5;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
}

.outerwrapper{
    height: 70px;
    width: 30px;
    background-color:#EBCB93 ;
    top: 15px;
    left: 50px;
    border-radius: 27% 14% 29% 30%;
    // opacity: 0.4;
}

.greenonion{
    height: 64px;
    width: 8px;
    background-color:#318927 ;
    top: 3px;
    left: 12px;
    border-radius: 13% 20% 30% 40%;
    opacity: 0.4;
}

.whiteonion{
    height: 30px;
    width: 6px;
    background-color:#ffffff ;
    top: 3px;
    left: 3px;
    border-radius: 13% 20% 30% 40%;
    opacity: 0.4;
}

.youtiao{
    height: 63px;
    width: 25px;
    background-color:#C29B2C ;
    top: 3px;
    left: 4px;
    border-radius: 13% 40% 18% 30%;
    opacity: 70%;
}

.congbaohui-group1{
    left:-15px;
    top:-10px;
}

.congbaohui-group2{
    left:-38px;
    top:-2px;
}

.congbaohui-group3{
    left:10px;
    top:-2px;
}

.congbaohui-group4{
    top:12px;
    left:-10px;
}

.food-on-plate7{
    height: 100px;
    width: 100px;
    transform: rotate(-135deg);
}

.lotusroot{
    height: 30px;
    width: 40px;
    background-color:#CF5732 ;
    top: 9px;
    left: 18px;
    border-radius: 50% 45% 12% 10%;
    // opacity:90%;
    box-shadow: 1px 1px 2px #a0522d;
    border: 1px solid #a0522d ;
}

.rice1{
    height:8px;
    width:10px;
    background-color: #FBDFD0;
    top:18px;
    left:5px;
    border-radius: 30% 40% 40% 50% ;
    opacity:95%;
    transform: rotate(10deg);

}

.rice2{
    height:9px;
    width:7px;
    background-color: #FBDFD0;
    top:6px;
    left:10px;
    border-radius: 60% 60% 40% 70%;
    opacity:95%;
    transform: rotate(-10deg);
}

.rice3{
    height:10px;
    width:7px;
    background-color: #FBDFD0;
    top:5px;
    left:23px;
    border-radius: 90% 90% 80% 80%;
    opacity:90%;
    transform: rotate(15deg);
}

.rice4{
    height:7px;
    width:10px;
    background-color: #FBDFD0;
    top:17px;
    left:27px;
    border-radius: 60% 40% 70% 50%;
    opacity:95%;
    transform: rotate(-10deg);

}
.guihuaou-group1{
    left:-8px;
    top:7px;
}

.guihuaou-group2{
    left:0px;
    top:14px;
}

.guihuaou-group3{
    left:8px;
    top:21px;
}

.guihuaou-group4{
    left:16px;
    top:28px;
}
.guihuaou-group5{
    left:24px;
    top:35px;
}

.guihuaou-group6{
    left:30px;
    top:40px;
}

.flower{
    background-image:url('flower.png');
    height: 120px;
    width: 120px;
    left:3px;
    background-size: 80%;
}

.soup-noodle{
    height: 95px;
    width: 95px;
    background-color: #994c00;
    opacity: 0.5;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
    overflow: hidden;
}
.circle-group2{
    top: -20px;
    left: -20px;
}
.circle-group1{
    top: 0;
    left: 0;
}
.circle-group3{
    top: -30px;
    left: 20px;
}
.circle-group4{
    top: 0;
    left: 40px;
}
.circle-group5{
    top: -20px;
    left: 50px;
}
.circle-group6{
    top: 25px;
    left: 75px;
}
.circle-group7{
    top: 25px;
    left: 25px;
}
.circle-group8{
    top: 30px;
    left: -30px;
}
.circle-group9{
    top: 30px;
    left: 0px;
}
.circle-group10{
    top: 60px;
    left: 50px;
}
.circle-group11{
    top: 70px;
    left: 10px;
}
.circle1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffe4b5;
    border: 1px solid #f4a460;
}
.circle2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffe4b5;
    border: 1px solid #f4a460;
    top: 3.5px;
    left: 3.5px;
}
.circle3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffe4b5;
    border: 1px solid #f4a460;
    top: 3.5px;
    left: 3.5px;
}
.circle4{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffe4b5;
    border: 1px solid #f4a460;
    top: 3.5px;
    left: 3.5px;
}
.circle5{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffe4b5;
    border: 1px solid #f4a460;
    top: 3.5px;
    left: 3.5px;
}
.sun1{
    height: 20px;
    width: 15px;
    background-color: #fff8d3;
    box-shadow: inset -2px -2px 0px #ebb251;
    top: 20px;
    left: 10px;
    border-radius: 20%;
    transform: rotate(30deg);
    border: 1px solid #ebb251;
}

.sun2{
    height: 20px;
    width: 15px;
    background-color: #fff8d3;
    box-shadow: inset -2px -2px 0px #ebb251;
    top: 60px;
    left: 10px;
    border-radius: 20%;
    transform: rotate(-20deg);
    border: 1px solid #ebb251;
}

.sun3{
    height: 20px;
    width: 15px;
    background-color: #fff8d3;
    box-shadow: inset -2px -2px 0px #ebb251;
    top: 45px;
    left: 40px;
    border-radius: 20%;
    transform: rotate(140deg) scale(1.1);
    border: 1px solid #ebb251;
}

.sun4{
    height: 20px;
    width: 15px;
    background-color: #fff8d3;
    box-shadow: inset -2px -2px 0px #ebb251;
    top: 10px;
    left: 50px;
    border-radius: 20%;
    transform: rotate(70deg) scale(0.9);
    border: 1px solid #ebb251;
}

.sun5{
    height: 20px;
    width: 15px;
    background-color: #fff8d3;
    box-shadow: inset -2px -2px 0px #ebb251;
    top: 60px;
    left: 70px;
    border-radius: 20%;
    transform: rotate(-130deg);
    border: 1px solid #ebb251;
}

.meat1{
    height:20px;
    width: 15px;
    background-color: #edcf93;
    border-radius: 20% 70% 30% 40%;
    top: 10px;
    left: 30px;
    box-shadow: inset -2px -2px 0px #e6a753;
    border: 1px solid #e6a753;
}
.meat2{
    height:20px;
    width: 15px;
    background-color: #edcf93;
    border-radius: 50% 70% 20% 40%;
    top: 35px;
    left: 65px;
    box-shadow: inset -2px -2px 0px #e6a753;
    border: 1px solid #e6a753;
    transform: rotate(130deg) scale(1.1)
}
.meat3{
    height:20px;
    width: 15px;
    background-color: #edcf93;
    border-radius: 90% 60% 30% 60%;
    top: 70px;
    left: 40px;
    box-shadow: inset -2px -2px 0px #e6a753;
    border: 1px solid #e6a753;
    transform: rotate(-110deg) scale(0.9)
}
.meat4{
    height:20px;
    width: 15px;
    background-color: #edcf93;
    border-radius: 90% 60% 30% 60%;
    top: 40px;
    left: 10px;
    box-shadow: inset -2px -2px 0px #e6a753;
    border: 1px solid #e6a753;
    transform: rotate(-280deg) scale(0.8)
}
.green-onion1{
    background-image: url('green-onion.png');
    height: 80px;
    width: 80px;
    background-size: 100%;
}
.green-onion2{
    background-image: url('green-onion.png');
    height: 80px;
    width: 80px;
    background-size: 100%;
    transform: rotate(80deg);
}

.green-onion3{
    background-image: url('green-onion.png');
    top: 30px;
    left: 30px;
    height: 80px;
    width: 80px;
    background-size: 100%;
    transform: rotate(240deg);
}


.soup-dongporou{
    height: 95px;
    width: 95px;
    background-color: #803c34;
    opacity:1;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
}
.dongporou{
    top: -12px;
    left: -12px;
    height: 100px;
    width: 100px;
    background-image: url('dongporou.png');
    background-size: 120%
}
.leaf1{
    height: 40px;
    width: 35px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(-80deg);
    left: 5px;
    top: 10px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf2{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(0deg);
    left: 20px;
    top: 0px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf3{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(-30deg);
    left: 10px;
    top: 3px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf4{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(-30deg);
    left: 60px;
    top: 50px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
.leaf5{
    height: 40px;
    width: 25px;
    background-color: #060;
    border-radius: 50%;
    transform: rotate(90deg);
    left: 60px;
    top: 50px;
    // box-shadow: inset -2px -2px 1px darkgreen;
}
