* {
    position: absolute;
}

.food-body{
    transform: scale(1.5);
    top: 280px;
    left: 550px;
}

.plate{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 0px #3f372f;
    overflow: hidden;
}
.plate:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.plate-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px #c0c0c0 solid;
    top: 5px;
    left: 5px;

}
.shrimp1{
    height: 50px;
    width: 50px;
    background-image: url('shrimp-group.png');
    background-size: 108%;
    top: 25px;
    left: 25px;
}
.shrimp2{
    height: 50px;
    width: 50px;
    background-image: url('shrimp-group.png');
    background-size: 108%;
    top: 25px;
    left: 25px;
    transform: rotate(170deg);
}
.shrimp-group1{
    top: -20px;
    left: 20px;
}
.shrimp-group2{
    top: 20px;
    left: 20px;
}
.shrimp-group3{
    top: 20px;
    left: -20px;
}
.shrimp-group4{
    top: -20px;
    left: -20px;
}
.shrimp-group5{
    top: 0px;
    left: 0px;
}
.shrimp-group6{
    top: 0px;
    left: -25px;
}
.shrimp-group7{
    top: 25px;
    left: 0px;
}
.shrimp-group8{
    top: -25px;
    left: 0px;
}
.shrimp-group9{
    top: 0px;
    left: 25px;
}
.tea{
    height: 100px;
    width: 100px;
    background-image: url('tea.png');
    background-size: 120%;
}
.shrimp-soup{
    height: 95px;
    width: 95px;
    background-color: #994c00;
    opacity: 0.5;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
}


.uncooked-shrimp{
    height: 180px;
    width: 180px;
    background-image: url('gredient_shrimp.png');
    background-size: 100%;
    top: 260px;
    left: 550px;
}

.uncooked-tea{
    height: 180px;
    width: 180px;
    background-image: url('gredient_tea.png');
    background-size: 100%;
    top: 290px;
    left: 555px;
}

.word{
    height: 20px;
    width: 80px;
    border-radius: 15%;
    background-color: white;
    border: 5px solid #0080ff;
    text-align: center;
    font-family: 'Arial Rounded MT Bold';
}

.shrimp-word{
    top: 410px;
    left: 615px;
}
.tea-word{
    top: 325px;
    left: 560px;
}