<div class='graph-body'>
    <div class='redbean-group'
    [@redbean-appear]="IsOut?'in':'out'">
        <div class='redbean'></div>
        <div class='word redbean-word'>red bean</div>
    </div>
    <div class='stickyrice-group'
    [@stickyrice-appear]="IsOut?'in':'out'">
        <div class='stickyrice'></div>
        <div class='word stickyrice-word'>sticky rice</div>
    </div>
    <div class='wormwood-group'
    [@wormwood-appear]="IsOut?'in':'out'">
        <div class='wormwood'></div>
        <div class='word wormwood-word'>wormwood</div>
    </div>
       <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>青团</div>
        <div class ='storylines'>Qingtuan is a form of dumpling that is green, common throughout Chinese cuisine. It is made of glutinous rice mixed with Chinese mugwort or barley grass. This is then usually filled with sweet red or black bean paste. 
        <br>The exact technique for making qingtuan is quite complicated and the grass involved is only edible in the early spring, so it is typically only available around the time of the Qingming Festival (April 4 or 5), with which the dumpling has become associated. 
        <br>Nowadays, Qingtuan sold in most connivence stores in China are made of glutinous rice mixed with matcha. It also has more diverse fillings, such as Rousong or salted egg yolk.
    </div>
    </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need:
        <ul>
        <li> 100g Glutinous Rice </li><br>
        <li> 20g Suagr </li><br>
        <li> 50g Warm Water </li><br>
        <li> 50g sesame powder</li><br>
        <li> 120g Red Bean Paste </li><br>
        <li> 75g Wormwood </li><br>
        <li> 2 tablespoons Oil</li><br>
        </ul>
    </div> 
    </div>
    <div class='food-body' (click)='toggle_sticky_red_worm()'>
        <div class='plate plate4'>
            <div class='plate-circle'>
                <div class='food-on-plate4'>
                    <div class='qingtuan-group5'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group4'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group3'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group2'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group1'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>