<div class='graph-body'>
    <div class='redbean-group'
    [@redbean-appear]="IsOut?'in':'out'">
        <div class='redbean'></div>
        <div class='word redbean-word'>red bean</div>
    </div>
    <div class='stickyrice-group'
    [@stickyrice-appear]="IsOut?'in':'out'">
        <div class='stickyrice'></div>
        <div class='word stickyrice-word'>sticky rice</div>
    </div>
    <div class='wormwood-group'
    [@wormwood-appear]="IsOut?'in':'out'">
        <div class='wormwood'></div>
        <div class='word wormwood-word'>wormwood</div>
    </div>
       <div class='story'
     [@story-appear]="IsOut? 'out': 'in'">
        <div class ='story-header'>Dongpo Pork</div>
        <div class ='storylines'>It is said that Su Dongpo came to Aicheng at the time of collecting wind and saved a child from heatstroke. The parents bought two kilograms of pork and returned with straw to inquire about his taste.
        <br>It happened that Su Dongpo was writing poems and saying, "Hehe, grass, pearls, heartfelt fragrance..."
        <br>After listening, the farmer thought he was telling him to put the meat and straw aside and cook them thoroughly.
        <br>At the time of the meal, Dongpo was surprised to see that the meat was a whole piece and not cut. He thought that he liked cooking like this, so he made a dish mixed with straw aroma, unexpectedly, by mistake. Later generations called this dish "Dongpo meat".</div>
    
    </div>
     <div class='ingredient'
     [@ingredient-appear]="IsOut? 'out': 'in'">
        <div class ='ingredient-header'>Ingredients</div>
        <div class ='ingredients'>  
        You will need
        <ul>
        <li> 500g Pork Belly </li><br>
        <li> 4 stalks Green Onion </li><br>
        <li> 50g fresh, young ginger </li><br>
        <li> 2 tablespoons Yellow Rice Wine</li><br>
        <li> 8 cloves garlic </li><br>
        <li> 1 cup water </li><br>
        <li> 4 tablespoons Light Soy Sauce</li><br>
        <li> 1 tablespoon tea leaves</li><br>
        <li> 1 tablespoons sugar </li><br>
        </ul>
    </div> 
    </div>
    <div class='food-body' (click)='toggle_sticky_red_worm()'>
        <div class='plate plate4'>
            <div class='plate-circle'>
                <div class='food-on-plate4'>
                    <div class='qingtuan-group5'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group4'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group3'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group2'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                    <div class='qingtuan-group1'>
                        <div class='qingtuan-base'>
                            <div class='qingtuan-light'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>