* {
    position: absolute;
}

.food-body{
    transform: scale(1.5);
    top: 280px;
    left: 550px;
}

.plate{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 0px #3f372f;
    overflow: hidden;
}
.plate:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.plate-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px #c0c0c0 solid;
    top: 5px;
    left: 5px;

}
.qingtuan-group1{
    top: 0;
    left: 0;
}
.qingtuan-group2{
    top: 19px;
    left: 19px;
}
.qingtuan-group3{
    top: 19px;
    left: -19px;
}
.qingtuan-group4{
    top: -19px;
    left: 19px;
}
.qingtuan-group5{
    top: -19px;
    left: -19px;
}

.qingtuan-base{
    height: 35px;
    width: 35px;
    border: 2px solid #030;
    border-radius: 50%;
    background-color: #060;
    top: 31px;
    left: 31px;
    box-shadow: inset -3px -3px 1px #0d500d;
}
.qingtuan-light{
    height: 10px;
    width: 5px;
    border-radius: 50%;
    transform: rotate(35deg);
    background-color: #cf9;
    top: 5px;
    left: 5px;
    filter: blur(1px);
}

.redbean{
    height: 180px;
    width: 180px;
    background-image: url('redbean.png');
    background-size: 100%;
    top: 260px;
    left: 550px;
}

.stickyrice{
    height: 180px;
    width: 180px;
    background-image: url('stickyrice.png');
    background-size: 95%;
    top: 260px;
    left: 555px;
}

.wormwood{
    height: 180px;
    width: 180px;
    background-image: url('wormwood.png');
    background-size: 95%;
    top: 310px;
    left: 555px;
}

.word{
    height: 20px;
    width: 80px;
    border-radius: 15%;
    background-color: white;
    border: 3px solid #2A7624;
    text-align: center;
    font-family: 'Arial Rounded MT Bold';
}

.redbean-word{
    top: 410px;
    left: 615px;
}
.stickyrice-word{
    top: 400px;
    left: 580px;
}
.wormwood-word{
    top: 300px;
    left: 600px;
}
